.project-page
{
    text-align: left;

    .project-page__back-button a
    {
        text-decoration: none;
        color: #999999; 
        font-size: 13px; 
        padding-bottom: 16px;
    }

    .project-page__title
    {
        font-family: 'JosefinSansBold'
    }
    
    .project-page__text-block
    {
        padding-bottom: 10px;
    }

    .project-page__back-button-bottom
    {
        text-align: center;
        margin-top: 50px;
    }
}