.portfolio
{
    text-align: left;

    .portfolio__header
    {
        padding-bottom: 35px;

        .portfolio__header__icon
        {
            font-size: 36px; position: relative; left: -2px; top: -3.5px;
        }
        
    }
    
    .portfolio__filters
    {
        border-bottom: 1px solid lightgray;

        @media (max-width: 1096px)
        {
            visibility: hidden;
        }

        .portfolio__filters__buttons 
        {
            margin: 0 -15px !important;
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 20px;

            ul 
            {
            list-style: none;
            text-align: center;
            padding: 0;
            margin: 0 15px;
            }
            
            ul li 
            {
                color: #000000;
                font-weight: 500;
                font-size: 16px;
                text-transform: uppercase;
                padding: 0 15px;
                cursor: pointer;
                padding-bottom: 0px;
                float: left;
            }

            ul li.active 
            {
            color: black;
            border-bottom: 2px solid #d15445;
            }
        }

        hr 
        {
            margin-top: 0;
        }
    }

    .portfolio-gallery
    {
        padding-top: 37px;
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 55px 4%;
        
        .portfolio-gallery__item 
        {
            flex: 0 0 50%;
            max-width: 48%;
            position: relative;
            
            img 
            {
                width: 100%;
                display: block;
                padding-bottom: 10px;
            }

            .portfolio-gallery__item__link-overlay
            {
                position: absolute; 
                height: 28rem; 
                width: 100%; 
                z-index: 60

            }
            
            .portfolio-gallery__item__inner
            {
                position: relative;
                padding-top: 10px;
                
                .portfolio-gallery__item__inner__label
                {
                    border-radius: 6px;
                    background: #e3e8ef;
                    line-height: 23px;
                    padding: 0 12px;
                    display: inline-block;
                    font-size: 12px;
                    margin-top: 10px;

                    &.add_space_between
                    {
                        margin-left: 10px;
                    }
                }

                .portfolio-gallery__item__inner__title
                {
                    font-family: "JosefinSansBold";
                    font-size: 18px;
                }
            }
        }
    }
}